.logout {
    margin-left: 50%;
    margin-top: 1.5%;
    background-color: black;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    color: white;
}

.logout:hover {
    color: black;
    background-color: white;
}

.createMovie {
    background-color: rgba(52, 52, 187, 0.562);
    border-radius: 5px;
    height: 30px;
    width: 120px;
    color: white;
    text-align: center;
}

.createMovie:hover {
    color: black;
    background-color: rgb(35, 202, 105);
}

.searchBar {
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
}

.navBar{
    background-color: rgb(238, 164, 79);
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.container{
    margin-top: 5%;
    background-color: gray;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
}

.container p {
    margin-bottom: 10px;
}