.logout {
    margin-left: 50%;
    margin-top: 1.5%;
    background-color: black;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    color: white;
}

.logout:hover {
    color: black;
    background-color: white;
}

.createMovie {
    background-color: rgba(52, 52, 187, 0.562);
    border-radius: 5px;
    height: 30px;
    width: 120px;
    color: white;
    text-align: center;
}

.createMovie:hover {
    color: black;
    background-color: rgb(35, 202, 105);
}

.searchBar {
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
}

.navBar{
    background-color: rgb(255, 99, 99);
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.container{
    margin-top: 5%;
    background-color: rgb(152, 89, 163);
    width: 90%;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
}

.container:hover {
    background-color: rgb(136, 136, 136);
}

.container p {
    margin-bottom: 10px;
}

.movieImg {
    max-height: 160px;
}

.infos {
    margin-top: 5%;
}

#movieName {
    font-weight: bold;
    font-size: 200%;
    color: rgb(255, 255, 255);
}

#movieReleaseDateLabel {
    color: white;
}

#movieReleaseDate {
    color: rgb(255, 201, 236);
}